@media (min-width: 1220px) {
  .header-name-id-span {
    font-size: 40px;
  }
}

@media (max-width: 670px) {
  .header-name-id-span {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .pokemon-card {
    width: 80%;
  }
}

@media (max-width: 568px) {
  .load-more-input {
    flex-wrap: wrap;
  }

  .subheadline {
    display: none;
  }
}

@media (max-width: 400px) {
  .card-container {
    flex-direction: column-reverse;
  }
}

@media (max-width: 480px) {
  .pokemon-details-overlay-image {
    width: 110px;
    max-height: 120px;
  }

  .pokemon-details-overlay-image-container {
    top: -55px;
    height: 120px;
  }

  .section-overlay-card {
    padding-top: 100px;
  }

  .pokemon-detail-header {
    padding-bottom: 70px;
  }
}