@media (min-width: 1220px) {
  .header-name-id-span {
    font-size: 40px;
  }
}

@media (max-width: 670px) {
  .header-name-id-span {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .pokemon-card {
    width: 80%;
  }
}

@media (max-width: 568px) {
  .load-more-input {
    flex-wrap: wrap;
  }

  .subheadline {
    display: none;
  }
}

@media (max-width: 400px) {
  .card-container {
    flex-direction: column-reverse;
  }
}

@media (max-height: 715px) {
  .section-overlay-card {
    height: 60%;
  }
}
