* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Press-Start-2P;
}

.d-none {
  display: none !important;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  color: red;
}

h1,
h2,
p {
  pointer-events: none;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./assests/img/pokemon-1624022_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  transition: background-position 0.5s ease;
}

button {
  background: #ffffff;
  padding: 10px 30px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background: #e9e9e9;
}

input {
  padding: 10px 40px;
  font-size: 16px;
  text-align: center;
  border-radius: 15px;
  border: none;
  outline: none;
}

h1 {
  font-size: 84px;
  color: red;
  text-shadow: 1px 1px 2px white;
}

h3 {
  text-shadow: 1px 1px 2px white;
  font-size: clamp(30px, 3.5vw, 40px);
}

::-webkit-scrollbar {
  width: 10px;
  overflow: scroll;
  scrollbar-color: red orange;
  scrollbar-width: thin;
}

#loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
}

.pokeball {
  width: 80px;
  height: 80px;
  background: radial-gradient(circle at center, #fff 40%, white 40%);
  border: 5px solid black;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  animation: spin 1s linear infinite;
}

.pokeball::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background: red;
  top: 0;
}

.pokeball::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  border: 5px solid black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
